.imageClass {
    max-width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
}

.container {
    position: relative;
    text-align: center;
}

.textPosition {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 50%;
}