.imageClass {
    max-width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
}

.container {
    position: relative;
    text-align: center;
}

.textPosition {
    position: absolute;
    text-align: left;
    top: 5%;
    left: 20%;
    right: 45%;
    font-size: 1.3vw;
}

.greenText {
    color: #549663
}

.lowerTextPosition {
    position: absolute;
    left: 30%;
    right: 30%;
    text-align: center;
}